body {
    background-image: url("../images/bg.jpg");
    font-size: small;
}

div.treelevel {
    display: block;
    white-space:nowrap;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

div.treenode {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

div.union {
    display: inline-block;
}

div.unionlink {
    vertical-align: top;
    padding-top: 50px;
    display: inline-block;
}

img.unionlink-image {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: block;
}


div.person {
    display: inline-block;
}

div.photo {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    /*background-image: url("../images/frame.jpg");*/
}

img.photo {
    border-radius: 50%;
    border: 4px solid black;
}

div.date {
    display: inline-block;
}

div.given:empty:before {
   content: '?';
}

div.last:empty:before {
   content: '?';
}

div.given {
    border-radius: 30px;
    border: 2px solid black;
    background-color: white;
    padding: 0px 5px;

    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.last {
    border-radius: 30px;
    border: 2px solid black;
    background-color: white;
    padding: 0px 5px;
    position: relative;
}


img.sex {
    position: absolute;
    top: -20px;
    right: 10px;
}
