div.treelevel {
    display: block;
    border: 1px solid blue;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.treenode {
    display: inline-block;
    border: 2px solid pink;
    padding-left: 5px;
    padding-right: 5px;
}

div.union {
    display: inline-block;
    border: 2px solid green;
}

div.person {
    display: inline-block;
    border: 2px solid orange;
}

div.date {
    display: inline-block;
    border: 2px solid red;
}
