body {
    background-image: url("../images/bg.jpg");
    font-size: x-small;
    font-family:'Bookman Old Style';
    font-variant: small-caps;
    text-align: center;

    padding: 0px;
    margin: 0px;

    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

div.title {
    background-color: DarkOliveGreen;
    border-bottom: 10px solid #2b3618;

    color: #ecf2e2;
    text-shadow: -2px 0 #2b3618, 0 2px #2b3618, 2px 0 #2b3618, 0 -2px #2b3618;
    text-transform: uppercase;

    width: 100%;
    height: 200px;
    vertical-align: middle;

    padding: 0px;
    margin: 0px;
}

h1 {
    height: 90px;
    font-size: 50px;

    padding: 15px 0px 0px 0px;
    margin: 0px;
}

h2 {
    height: 50px;
    font-size: 20px;

    padding: 0px;
    margin: 0px;
}

div.treelevel {
    display: block;
    white-space:nowrap;
    padding: 80px 0px;
}

div.treenode {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

div.union {
    display: inline-block;
}

div.unionlink {
    vertical-align: top;
    padding-top: 50px;
    margin: 0px;
    display: inline-block;
}

img.unionlink-image {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: block;
}


div.person {
    display: inline-block;
    vertical-align: top;
}

div.photo {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

img.photo {
    border-radius: 50%;
    border: 5px solid DarkOliveGreen;
    width: 90px;
}

div.date {
    display: inline-block;
}

div.first-name:empty:before {
   content: '?';
}

div.last-name:empty:before {
   content: '?';
}

div.first-name {
    text-transform: capitalize;
    width: 110px;
    white-space: normal;
}

div.last-name {
    text-transform: capitalize;
    font-weight: bold;
    width: 110px;
    white-space: normal;
}

div.person-info {
    text-align: left;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #ecf2e2;
    padding: 5px;
    position: relative;
    margin-bottom: 3px;
}

div.person-date {
    display: inline-block;
}

div.separator {
    display: inline-block;
    padding: 0px 3px;
}

img.sex {
    position: absolute;
    top: -20px;
    right: 10px;
}
